{% extends 'base.html' %}

{% block main %}

<div class= "indexheading"> About us
</div>
<div class="thx">
<div class="abtustxt">
    <p>Welcome to Petals, where each bloom tells a story of nature&rsquo;s elegance and romance. At our flower shop, we&rsquo;re devoted to offering you the freshest and most enchanting flowers, handpicked to add a touch of magic to your day and make every occasion truly unforgettable.</p>
    <p>At Petals, we believe that flowers are more than just gifts—they&rsquo;re a language of love and joy. Whether you&rsquo;re seeking timeless roses or vibrant seasonal arrangements, our bouquets are crafted with heartfelt care and meticulous attention to detail. Our warm and knowledgeable team is here to guide you in finding the perfect petals to celebrate your cherished moments.</p>
    <p>We treasure your thoughts and suggestions. If you have any ideas, questions, or simply wish to share your experience, please contact us <a href="{{url_for('contact')}}">here</a>. Thank you for choosing Petals. We are excited to be a part of your special memories and to add a touch of beauty to your life.</p>
  </section>


</div>

</div>

{% endblock %}